.ui-widget, .ui-widget .ui-widget {
    font-size: 10px !important;
}

.outputLabel{
	font-weight: bold;
}

.centered {
	margin: 0 auto;
}

.ui-layout-center {
overflow-x:hidden !important;
}

.ui-layout-center .ui-layout-unit-content {
overflow-x:hidden !important;
} 