sybase.test.url=jdbc:sybase:Tds:localhost:45000
sybase.test.user=sa
sybase.test.passwd=aaa
sybase.test.schema=limex

oracle.test.url=jdbc:oracle:thin:@localhost:31521
oracle.test.user=ecap
oracle.test.passwd=aaa
oracle.test.schema=ECAP

mysql.test.url=jdbc:mysql://localhost:3306/anontest
mysql.test.user=anontest
mysql.test.passwd=anontest
mysql.test.schema=anontest