body {
    
}

.noBorderGrid tr, .noBorderGrid td {
    border: none !important;
    border-style: none;
    background-color: inherit;
}

.loginPanel {
	margin: 0 auto;
	width: 360px;
	height: 360px;
	background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position: 50% 30px;
}

.menuBar {
	height:50px; 
	background: #424242;
	background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: 10px;
}

.menuBar h1 {
	font-size: 30px;
    line-height: 0px;
    padding-left: 50px;
    float: left;  
    color: #F2F2F2;
    font-weight: normal;
    font-family: 'Orienta', sans-serif;
    text-shadow: 10px 10px 0 rgba(0,0,0,0.5);
}

.menuBar .headline {
	color: #F2F2F2;
	font-size: 12px;
	font-weight: bold;
}

.licensePanel {
	float: left; 
	color: white; 
	margin-left: 20px; 
	font-style: italic;
	font-size: 12px;
}

.centered {
	margin: 0 auto;
}

.bottomAlign {
	vertical-align: bottom;
}

.anonymisedColumn{
	background-color: #AAFFAA; /*green*/
}

.anonCandidate{
	background-color: #FFE2C9; /*orange*/
}

.panelBgColor_ANONYMISED, .panelBgColor_REDUCED {
	background-color: #CCEECC;
}

.panelBgColor_RUNNING {
	background-color: #FFFACD;
}

.panelBgColor_FAILED {
	background-color: #EEAAAA;
}

.tooltipBehind {
	cursor: pointer;
	text-decoration: underline;
}

.errorMessage {
	color: red;
	font-weight: bold;
}